/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  color: #001E23;
  background-color: #174048;
  width:100%; 
  overflow-x:hidden;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 5rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-collapse {
text-align: center;
  }

  .dropdown-item {
text-align: center;
  }

body {
  background-color: #AAACB2;
  font-size: 1.1rem;
  width:100%; 
  overflow-x:hidden;
}

svg {
  fill: #AAACB2;
  width: 1.8em;
  height: 1.8em;
  margin: 0.6em;
}

svg:hover {
  fill: white;
}

#patreon {
  fill: #F76754;
}

#patreon:hover {
  fill: red;
}

#telegram:hover {
  fill: blue;
}

a {
  color: black;
  font-weight: bold;
}

.logo {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2); /* % of original size*/
  margin-left: 70px;
}

.navbar-text {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
}

.cover {
  width: 100%;
}

h1 {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}

.text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  -ms-flex-line-pack: center;
  align-content: center;
}

p {
  margin-bottom: 0;
}

.grey_text {
  color: #B9B7B8;
}

.quote {
  font-size: 0.9em;
  font-style: italic;
}

.videoWrapper {
  position: relative;
  padding: 50px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

}
.videoWrapper iframe {
  position: absolute;
  padding: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  border: none;
  background-color: orange;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

.btn:hover {
  border-width: 2px;
  border-color: white;
  background-color: yellow;
  color: black;
}

iframe {
  border: 2px;
  height: 550px;
}

.bc {
  width: 18rem;
}

.buffer {
  background-color: #343A40;
  color: white;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer {
  background-color: #343A40;
  color: #B9B7B8;
  font-size: 0.8em;
  text-align: center;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-width: 1px;
  border-color: black;
  background-color: #174048; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}

#myBtn:hover {
  background-color: black; /* Add background color on hover */
  border-width: 1px;
  border-color: white;
  color: white;
}

#newsletter {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  color: orange;
}

.email {
  margin: 2rem;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.data-enlargable {
  width: 100%;
}

.data-enlargable:hover {
  cursor:-webkit-zoom-in;
  cursor:zoom-in;
}