html {
  color: #001E23;
  background-color: #174048;
}

body {
  background-color: #AAACB2;
}

svg {
  fill: #AAACB2;
  width: 2em;
  height: 2em;
}

.logo {
  transform: scale(2); /* 75% of original size*/
  margin-left: 30px;
}

svg:hover {
  fill: white;
}

h1 {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}

.text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.quote {
  font-size: 0.9em;
  font-style: italic;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  border: none;
  background-color: orange;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

.btn:hover {
  border-width: 2px;
  border-color: white;
  background-color: yellow;
  color: black;
}

iframe {
  border: 2px;
  height: 550px;
}

.bc {
  width: 18rem;
}

.buffer {
  background-color: #343A40;
  color: white;
  text-align: center;
}

.footer {
  background-color: #343A40;
  color: #B9B7B8;
  font-size: 0.6em;
  text-align: center;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-width: 1px;
  border-color: black;
  background-color: #174048; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}

#myBtn:hover {
  background-color: black; /* Add background color on hover */
  border-width: 1px;
  border-color: white;
  color: white;
}

#newsletter {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  color: orange;
}

.email {
  margin: 5px;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.data-enlargable {
  width: 100;
}

.data-enlargable:hover {
  cursor:zoom-in;
}